/* ------------------------------------------------------ */
/**
 * CSS do corpo do site
 * Projeto site ACAP
 * 
 * @author Leon de França Nascimento
 */
.container-fluid {
	padding: 0;
}

.row {
	margin: 0;
}

.chevron {
	text-decoration: none;
	color: white;
	-webkit-transition: width 2s;
	/* Safari */
	transition: width 2s;
}

.chevron::hover {
	font-size: 2em;
}

.jumbotron {
	width: 100%;
	background-color: rgba(64, 64, 64, 0);
	padding: 1.5em;
	margin-bottom: 0;
	min-height: 80vh;
}

.imageshow {
	width: 100%;
	margin: 0;
	background-position: 50% 50%;
	background-size: cover;
	background-attachment: fixed;
}


/* --------------------------------------------------- */

section .innerTXT {
	background-color: rgba(255, 255, 255, 0.7);
	color: #3d3d3d;
	padding: 5%;
	text-align: justify;
	font-size: .8rem;
}

.card {
	padding: 4%;
	border-radius: 0;
}
#newspanel > div{
	margin:0 auto;
	margin-top:1em;

}

.news-sm{ 
	/* Tem de ser usado com col-3 */
	font-size:.8em;
	max-height:20vh;
}
.news-md{
	/* Tem de ser usado com col-4 */
	font-size:.9em;
	max-height:40vh;
}
.news-lg{
	/* Tem de ser usado com col-6 */
	max-height:60vh;
}

/* ----------------------------------------------------------------- */
.divisor{
	height:10vh;
	opacity:0.6;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.divisor div{
	width:50%;
	margin:0 auto;
	color:lightgray;
}
.divisor hr{
	border-top: 1px solid rgba(64,64,64,0.5);

}
/* ----------------------------------------------------------------- */
#header, .card,.divisor {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

/* ----------------------------------------------------------------- */

#header,.divisor {
	font-size:0.9em;
	background-color: rgb(242, 242, 242, 0.92);
	width: auto;
	padding-top: 1em;
}

#header #logo {
	width: 5rem;
	height: 5rem;
	margin-left: 1rem;
}

#logo>img {
	width: 6.5rem;
	height: 6.5rem;
}

/* ----------------------------------------------------------------- */

#introd {
	color: white;
}

#introd .innerTXT{
	line-height:2em;
	background-color:rgba(0,0,0,0);
	color:white;
}

/* ----------------------------------------------------------------- */

#hist {
	background-color: #009c3b;
	color: #3d3d3d;
}

#historiaTXT{
	font-size:small;
}

#historiaTXT p, #historiaTXT h3{
	padding-left:3em;
	padding-right:3em;
}

#signature{
	margin:0 auto;
	text-align:center;
}

/* ----------------------------------------------------------------- */

#partners {
	background-color: #ffdf00;
}

#partnerlist>div {
	overflow: hidden;
	text-align: center;
	font-weight: bold;
	margin:1em 0 1em 0;
	max-height:50%;
}

.img-circle {
	height: 12vw;
	width: 12vw;
	border: 1px solid rgba(200, 200, 200, 1);
	border-radius: 100%;
	object-fit: cover
}
/* --------------------------------------------------------- */
#news{
	background-color: #002776;
}

#news .card{
	color:rgb(64,64,64);
}

/* --------------------------------------------------------- */

:target {
	display: block;
	position: relative;
	top: -10vh;
	visibility: hidden;
}

/* Tint basal */

#introd.imageshow {
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
		url("../img/introbg.jpg");
		transition: all 2s ease-in-out;
}

#hist.imageshow {
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
		), url("../img/histbg.jpg");
		transition: all 2s linear;
}

#partners.imageshow {
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
		), url("../img/partnersbg.jpg");
		transition: all 2s linear;
}

#news.imageshow {
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
		), url("../img/newsbg.jpg");
		transition: all 2s linear;
}

/* Tint no hover */

#introd.imageshow:hover {
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
		url("../img/introbg.jpg");
		background-position:50% 15%;
}

#hist.imageshow:hover {
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
		), url("../img/histbg.jpg");
		background-position:50% 15%;
}

#partners.imageshow:hover {
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
		), url("../img/partnersbg.jpg");
		background-position:50% -15%;
}

#news.imageshow:hover {
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
		), url("../img/newsbg.jpg");
		background-position:50% -15%;
}